@font-face {
    src: url(../fonts/IrishGrover-Regular.ttf);
    font-family: irish-grover;
}

* {
    margin: 0;
    padding: 0;
    font-family: irish-grover;
}

header {
    background-color: #63462D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10%;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.button {
    font: irish-grover;
    height: 75px;
    width: 75px;   
    border-radius: 50%;
    background-color: rgba(149, 249, 227, 1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: rgb(255, 0, 0);;
}

.buttonDiv {
    display: flex;
    justify-content: space-evenly;
    /* background-color: blue; */
}

/* .header {
    background-color: aqua;
} */ 

.rules {
    display: flex;
    justify-content: center;
}

.playArea {
    display: flex;
    justify-content: space-evenly;
}

.cardSpot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card {
    margin: 100px auto 0;
    width: 150px;
    height: 200px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--back {
    transform: rotateY(180deg);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputBox {
    width: 500px;
    height: 25px;
    margin: 50px;
}

.playerName {
    display: flex;
    flex-direction: column;
    color: black;
}


.aside {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    right: 20px;
}

main {
    background-color:rgba(85, 133, 100, 1);
}

body {
    background-color:rgba(85, 133, 100, 1);
}

.span {
    color: rgba(149, 249, 227, 1);
}